<%- include("../includes/head.ejs"); %>

<link rel="stylesheet" href="/style.css">

<body class="bg-black text-white">
  <style type="text/css">
    @charset "UTF-8";
    @charset "iso-8859-15";

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0; /* Optionally, you can set margin to control the spacing */
    }

    #contFirst {
      margin-bottom: 100px;
    }

    @media (max-width: 500px) {
      #contFirst {
        margin-left: 10px;
      }
    }
  </style>

  <header class="header1">
    <%- include('../includes/navbar.ejs') %>
  </header>

  <header class="header-to-hide" style="position: sticky; top: 0; background-color: black; z-index: 1000;">
    <%- include('../includes/navbar2.ejs') %>
  </header>

  <div class="loading-spinner" id="loadingSpinner">
    <img src="/h4kigImg.jpg" alt="Your Logo" class="logoSp">
    <div class="spinner"></div>
  </div>

  <section>
    <div class="container-fluid bg-light p-3" style="color: black;">
      <div class="row justify-content-center">
        <div class="col-12">
          <nav class="nav">
            <a class="nav-link active" aria-current="page" href="/" style="color: black;"><%= lang.cart_txt14 %></a>
            <a class="nav-link" href="/v1/forgetPassword" style="color: grey;"><%= lang.fp_txt1 %></a>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mt-5" id="contFirst">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <% if(errorMessage) { %>
            <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
          <% } %>
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-6 p-4" style="border: 2px solid white; border-radius: 20px;">
          <h4 class="text-center"><%= lang.fp_txt1 %></h4>

          <form action="<%= action %>" method="POST" id="form">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><%= lang.fp_txt2 %></label>
              <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="<%= lang.fp_txt2 %>" 
                value="<%= oldInput.email %>" <% if (isOTP) { %>readonly<% } %>>
            </div>
            <% if (isOTP) { %>
              <div class="mb-3">
                <label for="exampleInputPassword3" class="form-label"
                  ><%= lang.verify_txt1 %></label
                >
                <input
                  type="Number"
                  class="form-control"
                  name="number"
                  id="exampleInputPassword3"
                  placeholder="<%= lang.verify_txt1 %>"
                  required
                />
              </div>
            <% } %>
            <% if (isPass) { %>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"><%= lang.fp_txt3 %></label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="<%= lang.fp_txt5 %>">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label"><%= lang.fp_txt4 %></label>
                <input type="password" class="form-control" name="cpassword" id="exampleInputPassword2" placeholder="<%= lang.fp_txt6 %>">
              </div>
            <% } %>
            <button type="submit" class="btn btn-primary"><%= lang.verify_txt2 %></button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="position-relative">
        <div class="position-fixed bottom-0 start-0" id="button-container">
          <form action="/v1/language" method="post">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <button class="en-button" type="submit" name="lang" value="en">
                <div class="button-content" id="enBtn">
                  <img src="/usFlag.png" width="13" height="13" />
                  English
                </div>
              </button>
              <button class="ru-button" type="submit" name="lang" value="fr">
                <div class="button-content" id="frBtn">
                  <img src="/frFlag.png" width="13" height="13" />
                  Français
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section>
    <%- include('../includes/newsletter.ejs') %>
  </section>

  <section>
    <%- include('../includes/table.ejs') %>
  </section>

  <section>
    <%- include('../includes/footer.ejs') %>
  </section>

  <script>
    const lang = '<%= JSON.stringify(lang) %>'; 
  </script>

  <script src="/script.js"></script>

  <script>
    window.addEventListener('load', () => {
      const loadingSpinner = document.getElementById('loadingSpinner');
      loadingSpinner.style.display = 'none';
    })

    setTimeout(function() {
      document.querySelector('.alert').style.display = 'none';
    }, 3000);

    globalThis.document.addEventListener('DOMContentLoaded', () => {
      const isOTP = '<%- isOTP %>';
      const isPass = '<%- isPass %>';

      const form = globalThis.document.getElementById("form");

      // console.log(isOTP, isPass);

      const loadingSpinner2 = document.getElementById('loadingSpinner');
      // console.log(data);

      function showLoadingSpinner() {
        loadingSpinner2.style.display = 'block';
      }
    })
  </script>

  <%- include("../includes/end.ejs"); %>
</body>